target/classes/Group9/Bookflix/Entities/EncontraLidos.class
target/classes/Group9/Bookflix/Repositories/LivroRep.class
target/classes/Group9/Bookflix/Repositories/UserRep.class
target/classes/Group9/Bookflix/Entities/EncontraLidos.class
.settings/org.eclipse.core.resources.prefs
