<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> books </title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1><u>&nbsp;&nbsp;&nbsp;&nbsp;Bookflix</u></h1>
    <h2>
        <button type="lista" th:onclick="backMenuFunction()">Menu</button>
        <span id="list"></span>
        <br>
    </h2>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;Lista de Livros</h2>
        <table>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Autor</th>
            <th>Categoria</th>
            <th>Avaliação</th>
          </tr>
          <tr th:each="book : ${books}">
            <td th:text="${book.livroID}">1</td>
            <td th:text="${book.nome}">2</td>
            <td th:text="${book.autor}">3</td>
            <td th:text="${book.categoria}">4</td>
            <td th:text="${book.avaliacao}">5</td>
          </tr>
        </table>
        <script type="text/javascript" src="./script.js"></script>
</body>

</html>