<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> Bookflix </title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="mainPage">
    <h1><u>&nbsp;&nbsp;&nbsp;&nbsp;Bookflix</u></h1>
      <ul>
        <li>
          <label for="username"><u>&nbsp;Usuario:</u></label>
          <input type="text" id="username" name="username">
        </li>
        <li>
          <label for="senha"><u>&nbsp;Senha:</u></label>
          <input type="text" id="senha" name="senha">
        </li>
        <li>
          <button type="login" th:onclick="loginFunction()">Entrar</button>
          <span id="log"></span>
          <br>
        </li>
      </ul>
      <script type="text/javascript" src="./script.js"></script>
  </div>
</body>

</html>